
      form.voting-wrapper(action:'/rating', method:'post')
        input(type:'hidden', name:'talk', value:talk.slug)
        label(for:talk.slug) Rating
        select(name:'rating', id:talk.slug)
          option 1
          option 2
          option 3
          option 4
          option 5
        input(type:'submit', value:'submit rating')
