p Software developers have a wide range of interests. The Strange Passions track is a bit of fun to explore those non-development topics that might not fit in any other conference. Talks should  be 10 minutes in length and can be submitted only by conference attendees. The actual talks will be chosen by popular vote of the attendees.

p Important dates:
ol
  li Call opens: September 7th, 2010
  li Call ends: September 24th, 2010
  li Voting ends: October 1st, 2010
  li Strange Passions party at the Pageant: October 14th, 2010 
