- if(info != '')
  p.info= info  
  
p Software developers have a wide range of interests. The Strange Passions track is a bit of fun to explore those non-development topics that might not fit in any other conference. Talks should  be 10 minutes in length and can be submitted only by conference attendees. The actual talks will be chosen by popular vote of the attendees.

p Important dates:
ol
  li Call opens: September 7th, 2010
  li Call ends, voting begins: September 20th, 2010
  li Voting ends: September 27th, 2010
  liConference date: October 14-15th, 2010 
