!!!5
html
  head
    title Strange Passions
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(type:'text/javascript', src:'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(type:'text/javascript', src:'/scripts/jquery-ui-1.8.4.custom.min.js')
    script(type:'text/javascript', src:'/scripts/jquery.ui.stars.js')
    
    script(type:'text/javascript', src:'/scripts/main.js')
  body
    #header
      h1 
        a(href="http://strangeloop2010.com") Strange Passions
      #nav_container
        #nav 
          ul#tabs
            li
              a(href="http://strangeloop2010.com/")
                span Home
            li
              a(href="http://strangeloop2010.com/pages/register")
                span Register
            li
              a(href="http://strangeloop2010.com/calendar")
                span Schedule
            li
              a(href="http://strangeloop2010.com/speakers")
                span Speakers
            li.current
              a(href="/")
                span Strange&nbsp;Passions
            li
              a(href="http://strangeloop2010.com/sponsors")
                span Sponsors
            li
              a(href="http://strangeloop2010.com/pages/travel")
                span Travel
            li
              a(href="http://strangeloop2010.com/pages/volunteers")
                span Volunteers
            li
              a(href="http://strangeloop2010.com/connect")
                span Connect
    #content
      ul#sp-actions 
        li 
          a(href:'/submitTalk') Submit A Talk
        li 
          a(href:'/talks') View Talks
      != body
