h2 Submit a Talk


form(method:'post', action:'/submitTalk')
  table#talksubmit
    tr
      td
        label Title
      td
        input(type:'text', name:'title')
    tr
      td
        label 
          | Abstract 
          .markdown (You can use 
            a(href="http://en.wikipedia.org/wiki/Markdown")markdown
            | too)
      td
        textarea(name:'abstract', rows:10)
    tr
      td
        label Speaker Bio
      td
        textarea(name:'bio', rows:5)
    tr
      td
        label Tags
      td
        input(type:'text', name:'tags')
    tr
      td(colspan:2)
        input(type:'submit')
