h2 Submit a Talk

p So what kind of topics are appropriate for the Strange Passions track? Anything **non-technical**. DO NOT submit a talk on a programming language or library.  These talks will not be considered for the Strange Passions track regardless of rating!

p DO submit talks about your own passion or an interesting subject like 
  a(href="http://www.youtube.com/watch?v=F2s6LZUdYaU") Thelonius Monk
  , the 
  a(href="http://www.eyewitnesstohistory.com/duel.htm") duel between Alexander Hamilton and Aaron Burr
  ,
  a(href="http://www.pbs.org/treasuresoftheworld/a_nav/guernica_nav/main_guerfrm.html") Guernica
  ,
  a(href="http://en.wikipedia.org/wiki/Tai_chi_chuan") Tai Chi
  ,
  a(href="http://en.wikipedia.org/wiki/Waffle") waffles 
  ,
  a(href="http://www.gi.alaska.edu/ScienceForum/ASF17/1775.html") single-hemisphere sleep
  , 
  a(href="http://en.wikipedia.org/wiki/String_theory") string theory
  , 
  a(href="http://joelneely.wordpress.com/category/javaposse/") Klingon law
  , or whatever else you find interesting.  If you want further inspiration, try:

ul
  li 
    a(href="http://strangeloop.blip.tv/posts?view=archive") Strange Loop 2009 Strange Passion talks
  li 
    a(href="http://www.ted.com/")  TED talks
  li 
    a(href="http://www.slideshare.net/contest/worlds-best-presentation-contest-2008")  Best Presentations - 2008
  li 
    a(href="http://joelneely.wordpress.com/category/javaposse/")  Java Posse Roundup lightning talks

p Remember that Strange Loop talks MUST be kept strictly to **10 MINUTES** in length.  If you exceed the time limit you will be dropped into a pool filled with sharks.  Sharks with frickin' lasers.

form(method:'post', action:'/submitTalk')
  table#talksubmit
    tr
      td
        label Title
      td
        input(type:'text', name:'title')
    tr
      td
        label 
          | Abstract 
          .markdown (You can use 
            a(href="http://en.wikipedia.org/wiki/Markdown", target="_blank") markdown 
            | )
      td
        textarea(name:'abstract', rows:10)
    tr
      td
        label Speaker Bio
      td
        textarea(name:'bio', rows:5)
    tr
      td
        label Tags
      td
        input(type:'text', name:'tags')
    tr
      td(colspan:2)
        input(type:'submit')
