h2 Talks
p Please rate each submitted Strange Passion talk.  The highest rates talks will be presented at the Strange Passions party on October 14th at the Pageant.  Note: You may only rate talks if you are attending the conference or the party.  To register, go to 
  a(href="https://regonline.com/strangeloop2010") https://regonline.com/strangeloop2010.
  
- if(talks)
  ul#talks
    - each talk in talks
      li
        h4= talk.title
        p!= talk.abstract
        a.title(href:'/talk/'+talk.slug) More
      
