body { 
 font-family: tahoma, arial, sans-serif;
 background-color: #fff;
 padding:0;
 margin: 0;
 background-color: #140302;
 background-image: url(http://strangeloop2010.com/images/background/brushed-metal-charcoal.jpg)
}

h1{ margin: 0px;padding:0; }
h1 a{
  display: block;
  text-indent: -6000px;
  background: #000 url(http://strangeloop2010.com/system/sites/logos/11304/original/banner3.png?1270101891) no-repeat;
  background-position: center center;
  padding: 10px;
  width:940px;
  margin: 0px auto;
  height:150px; 
}
.markdown{
  color:#888;
  text-indent: 10px;
  font-size: 12px;
}
#content{
  margin: 0px auto;
  padding: 20px 10px;
  width: 940px;
  background: #fff;
}
ul#talks{
list-style: none;
margin: 0;
padding: 10px;
border: none;
width:90%;
}

#talks li
{
margin: 5px;
display: block;
padding: 5px 5px 5px 0.5em;
text-decoration: none;
background-color:#ddd;
}
#talksubmit{
  width:80%;
}
#talksubmit input[type="text"], #talksubmit textarea{
  width: 100%;
}
#talksubmit label, #talksubmit input, #talksubmit textarea{
  margin:5px;
}
  
#talks li a
{
color:blue;
}
#author{
  color:#999999;
  font-style:italic;
  margin:-0.4em 0 0.4em;
  padding:0;
  text-align:right;
  text-transform:lowercase;
}
.totalvotes{
  color:#fff;
  font-weight:bold;
}
td.left{
  text-align:left;
}
td.right{
  text-align:right;
}

a, a:visited{
  color: #3366CC;
  text-decoration: none;
}
a:hover{
  color: #ED1B1E;
  text-decoration: underline;
}
#nav_container { 
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 2px;
}

#tabs{
  padding: 0px;
  margin-bottom:3px;
  width: 100%;
}
#nav {
  margin: 0px auto;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  background-color: #transparent;
  padding-bottom: 0px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#nav ul a{
    color: #FFFFFF;
    background-color: #BC0A00;
    font-size: 14px;
  }
#nav ul li{
  margin-right: 2px;
}
#sp-actions{
  list-style-type:none;
  margin: 0; padding:0;
}
#sp-actions li {
  display: inline;  
  padding: .2em 1em;
}
div.heading, #nav ul a {
    border: 1px solid #000000;
  }
#nav ul li.current a, #nav ul a:hover, .heading .action ul li.active a, .heading .action ul li.inprogress a, .heading .action ul li a:hover {
    color: #FFFFFF;
    background-color: #9B0800;
  }  
#nav ul li {
  display: inline;



}

#nav ul a {
  text-decoration: none; 
  text-transform: capitalize;
  padding: 4px 14px;
}

/* rating */
.ui-stars-star,.ui-stars-cancel{float:left;display:block;overflow:hidden;text-indent:-999em;cursor:pointer;}.ui-stars-star a,.ui-stars-cancel a{width:16px;height:15px;display:block;background:url(/images/jquery.ui.stars.gif) no-repeat 0 0;}.ui-stars-star a{background-position:0 -32px;}.ui-stars-star-on a{background-position:0 -48px;}.ui-stars-star-hover a{background-position:0 -64px;}.ui-stars-cancel-hover a{background-position:0 -16px;}.ui-stars-star-disabled,.ui-stars-star-disabled a,.ui-stars-cancel-disabled a{cursor:default!important;}
