body { 
 font-family: verdana, "trebuchet MS", helvetica, sans-serif; 
 background-color: #fff;
 padding:0;
 margin: 0;
 background-color: #140302;
 background-image: url(http://strangeloop2010.com/images/background/brushed-metal-charcoal.jpg)
}

h1{
  display: block;
  text-indent: -6000px;
  background: #000 url(http://strangeloop2010.com/system/sites/logos/11304/original/banner3.png?1270101891) no-repeat;
  background-position: center center;
  padding: 5px;
  width:80%;
  margin: 0px auto;
  height:150px; 
}
#content{
  margin: 10px auto;
  padding: 5px;
  width: 80%;
  background: #fff;
}
ul#talks{
list-style: none;
margin: 0;
padding: 10px;
border: none;
width:90%;
}

#talks li
{
margin: 5px;
display: block;
padding: 5px 5px 5px 0.5em;
text-decoration: none;
background-color:#ddd;
}
#talksubmit{
  width:80%;
}
#talksubmit input[type="text"], #talksubmit textarea{
  width: 100%;
}
#talksubmit label, #talksubmit input, #talksubmit textarea{
  margin:5px;
}
  
#talks li a
{
color:blue;
}

#tabs li{
  list-style: none;
  display: block;
  width: 100px;
  margin-right:10px;
  float: left;
}
#tabs{
  width: 100%;
  display:block;
  float: left;
}
.totalvotes{
  color:#fff;
  font-weight:bold;
}
td.left{
  text-align:left;
}
td.right{
  text-align:right;
}

/* rating */
.ui-stars-star,.ui-stars-cancel{float:left;display:block;overflow:hidden;text-indent:-999em;cursor:pointer;}.ui-stars-star a,.ui-stars-cancel a{width:16px;height:15px;display:block;background:url(/images/jquery.ui.stars.gif) no-repeat 0 0;}.ui-stars-star a{background-position:0 -32px;}.ui-stars-star-on a{background-position:0 -48px;}.ui-stars-star-hover a{background-position:0 -64px;}.ui-stars-cancel-hover a{background-position:0 -16px;}.ui-stars-star-disabled,.ui-stars-star-disabled a,.ui-stars-cancel-disabled a{cursor:default!important;}
